{:paths ["bb"]
 :tasks
 {:requires ([babashka.fs :as fs]
             [babashka.wait :as wait]
             [dalfox])

  server        (clojure "-M:run")
  wait          (wait/wait-for-port "localhost" 8080 {:timeout 10000 :pause 1000})
  dalfox:selmer (dalfox/run "selmer")
  dalfox:hiccup (dalfox/run "hiccup")
  test:selmer   (clojure "-M:test" "--focus-meta" ":selmer")
  test:hiccup   (clojure "-M:test" "--focus-meta" ":hiccup")}}
