<!DOCTYPE html>
<html>
  <body>
    <h1>List</h1>
    <form action="/selmer" method="post">
      <div>
        <label for="name">Enter name:</label>
        <input name="name" type="text" />
      </div>
      <div>
        <label for="color">Enter color:</label>
        <input name="color" type="color" />
      </div>
      <div>
        <label for="image">Enter image:</label>
        <input name="image" type="text" />
      </div>
      <input type="submit" value="Send Request" />
    </form>
    <p style="color:{{ color }}"><img src="{{ image }}" />{{ name }}</p>
  </body>
</html>
